<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <div class="row">
      <% if @user.avatar? %>
        <span class="avatar"><%= image_tag @user.avatar, size: Settings.size_user_show %></span>
      <% else %>
        <%= gravatar_for @user, size: Settings.size_user_show %>
      <% end %>
      </div>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to user do %>
              <% if user.avatar? %>
                <span class="avatar"><%= image_tag user.avatar, size: 30 %></span>
              <% else %>
                <%= gravatar_for @user, size: 30 %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <% @users.each do |user| %>
        <li>
          <% if user.avatar? %>
            <%= image_tag user.avatar, size: Settings.size_user_index %>
          <% else %>
            <%= gravatar_for user, size: Settings.size_user_index %>
          <% end %>
          <%= link_to user.name, user %>
        </li>
        <% end %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
